
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    min-height: 100vh;
}

.navbar{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding:20px;
}

.navbar a{
    color: #FFBC11;
    text-decoration: 0;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
    background-color: black;
    border-radius: 20px;
    padding: 20px 20px;

}

.navbar a:hover{
    background-color: #e6a800;
    transform: translateY(-1px);
    color: black;
}



.banner{
       width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #000;
        padding: 40px 20px;
}

.section-banner {
       width: 100%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        /* Por defecto, apilamos */
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin: auto;
}

.section-text-banner{
    width: 100%;
    max-width: none;
    text-align: center;
}

.banner-img {
    width: 50%;
    max-width: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-img .img{
    height: auto;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.title-banner{
    color: #FFBC11;
    font-size: 1.8rem;
        /* Tamaño de móvil */
    font-weight: 800;
    margin-bottom: 0.5rem;
}

.subtitle-banner{
    color: white;
    font-size: 1rem;
        /* Tamaño de móvil */
    font-weight: 400;
    line-height: 1.4;
        /* Corregido */
    margin-bottom: 1.5rem;
}

.button{
   border: none;
    outline: none;
    background-color: #FFBC11;
    border-radius: 30px;
    padding: 15px 24px;
    font-weight: 700;
    font-size: .9rem;
    cursor: pointer;
    width: 80%;
    max-width: 300px;
    display: block;
    margin: 0 auto 10px auto;
    transition: background-color 0.3s ease, transform 0.1s ease;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color: #e6a800;
    transform: translateY(-1px);
}


.section-one {
    background: #C0CBCE;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
}

/* Contenedor interno (section1) */
.section1 {
    width: 100%;
    height: 90%;
    margin: 0 auto;
    background: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

    /* Configuración Flexbox para el contenido interno (por defecto para móviles) */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* Contenedor de la imagen */
.section-img {
    width: 100%;
    max-width: 400px;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-img img {
    width: 100%;
    height:auto;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;

}

.section-text {
    width: 100%;
    text-align: center;
}

.subtitle-section-text {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    line-height: 1.2;
}

.paragraph-section-one {
    font-size: 1em;
    color: #555;
    line-height: 1.5;

}

/* Contenedor interno (section2) */

.section-two {
    background: #17B8A6;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
}



.section-three {
    background: #FFBC11;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
}

.section3{
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section-tree-text{
    width: 50%;
    height: 200px;
}

.paragraph-section-tree{
       font-size: 1.1em;
        color: #555;
        line-height: 1.5;
}

.section-footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;

}

.subtitle-section-text-footer{
    color: #FFBC11;
    font-size: 2em;
}
.paragraph-section-footer{
   font-size: 1.1em; 
   color: #555;
  line-height: 1.5;

}
.footer-img{
    width: 15%;
    height: 50px;

}
.footer-img img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

 .driver-list {
     line-height: 25px;
     font-size: 1.1em;
     color: #555;
     text-align: left;
 }

 .section-driver {
     height: auto;
     background: #17B8A6;
 }

.section_driver {
    width: 95%;
    height: auto;
    margin: 0 auto;
    background: #ffffff; 
    padding: 30px 60px 60px 60px;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

}

.subtitle-section-text-driver {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: 30px;
}

.you-need {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    margin: auto;
}
.need {
    width: 100%;
    height: auto;
    padding: 30px 20px;
    border-radius: 20px;
    background: hsla(0, 1%, 69%, 0.699);
}

.icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #FFBC11;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px auto;
}

.paragraph-icon{
    font-size: 1em;
}

.fa-truck-front,
.fa-address-card,
.fa-mobile-screen-button {
    text-align: center;
    font-size: 2rem;
}

.paragraph-icon {
    font-size: 1.3em;
    margin-top: 20px;
    text-align: center;
    color: #555;
}




@media (min-width: 768px) {
.banner {
    width: 100%;
}
    
.banner .section-banner {
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    height: 60vh;
    gap: 40px;
    background: #000;
}
    
.section-text-banner {
    width: 90%;
    max-width: 50%;
    text-align: left;
}
    
.title-banner {
    font-size: 2em;
 }
    
 .subtitle-banner {
    font-size: 20px;
    line-height: 1.5;
    color: #555;
}
         
  .banner-img {
     width: 50%;
    max-width: 400px;
    order: -1;
    margin: 0;
 }
    
    .button {
        width: fit-content;
        max-width: none;
        margin: 0;
        }
       

    .section1, .section2, .section3{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 60px;
    }

    .section-img {
        width: 40%;
        height: 50%;
        margin-right: 5%;
    }
    .section-img{
        height: auto;
    }

    .section-text {
        width: 50%;
        text-align: left;

    }

    .subtitle-section-text {
        font-size: 2.5em;
    }

    .paragraph-section-one {
        font-size: 1.3em;
    }
    .driver-list{
        line-height: 25px;
        font-size: 1.2em;
        color: #555;
        text-align: left;
    }

    .section-driver{
        height: auto;
        background: #17B8A6;
    }

.section-text-driver{
         width: 100%;
         flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
}

.section_driver{
        width: 95%;
        height: auto;
        margin: 0 auto 20px  auto;
        background: #ffffff; 
        padding: 30px 60px 60px 60px;
        border-radius: 15px;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
         
}
.subtitle-section-text-driver{
    text-align: center;
    font-size: 2.5rem;
}

.you-need{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;   
}

.need{
    width: 28%;
    padding: 30px 20px;
    border-radius: 20px;
    background: hsla(0, 1%, 69%, 0.699);
}
.icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #FFBC11;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px auto;
}
.fa-truck-front,.fa-address-card,.fa-mobile-screen-button{
    text-align: center;
    font-size: 2rem;
}
.paragraph-icon{
    font-size: 1.3em;
    margin-top: 20px;
    text-align: center;
    color: #555;
}


  
}

@media (min-width: 1024px) {
    .section1 {
        width: 90%;
        padding: 80px;
    }

    .subtitle-section-text {
        font-size: 3em;
    }
}

@media (min-width: 768px) {
    .section1 {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 60px;
    }

    .section-img {
        width: 45%;
        margin-right: 5%;
    }

    .section-text {
        width: 50%;
        text-align: left;
    }

    .subtitle-section-text {
        font-size: 2.5em;
    }

    .paragraph-section-one {
        font-size: 1.3em;

    }
}

/* Media Query para pantallas aún más grandes (ej. desktops grandes) */
@media (min-width: 1024px) {
    .section1 {
        width: 95%;
        /* Ocupa un poco menos de ancho para centrar mejor */
        padding: 80px;
        /* Más padding */
    }
        .section2 {
            width: 95%;
            /* Ocupa un poco menos de ancho para centrar mejor */
            padding: 80px;
            /* Más padding */
        }

    .subtitle-section-text  {
        font-size: 3em;
        /* Tamaño de fuente aún más grande */
    }
}


