body {
    background: #063970;
    font-family: 'Ubuntu', sans-serif;
}

.login-card {
    background: #ffffff;
    border-radius: 12px;
}

.title {
    color: #333;
    font-weight: 700;
    text-align: center;
}

.form-control:focus {
    border-color: #063970;
    box-shadow: 0 0 0 0.25rem rgba(6, 57, 112, 0.25);
}